In [2]:
import pandas as pd

In [10]:
FILE_NAME = "/cs/labs/michall/roeizucker/IIH/PWAS/ukbb_dataset_updated.csv"
RESULT_FILE_NAME = "/cs/labs/michall/roeizucker/IIH/PWAS/ukbb_dataset_reduced.csv"

In [13]:
df = pd.read_csv(FILE_NAME)

0.0    292012
1.0       173
Name: updated_Both, dtype: int64

In [15]:
print(df["updated_Both"].value_counts())
print(df["updated_PAP"].value_counts())
print(df["updated_IIH"].value_counts())
df

0.0    292012
1.0       173
Name: updated_Both, dtype: int64
0.0    292101
1.0        84
Name: updated_PAP, dtype: int64
0.0    292080
1.0       105
Name: updated_IIH, dtype: int64

,sample_index,eid,PAP,IIH,both,PAP_F,IIH_F,both_F,PAP_M,IIH_M,...,batch_UKBiLEVEAX_b9,updated_PAP,updated_IIH,updated_Both,updated_PAP_F,updated_IIH_F,updated_Both_F,updated_PAP_M,updated_IIH_M,updated_Both_M
0,0,5895328,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
1,1,5764375,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,2,5503073,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
3,3,2563626,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
4,4,4980832,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333627,502513,2243883,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
333628,502515,3570729,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
333629,502516,1663456,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
333630,502517,3118989,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
333631,502519,4573284,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [9]:
df["PAP_reduced"] = ((df["updated_PAP"] == 1) & (df["updated_IIH"] == 0)).astype(int)
df["IIH_reduced"] = ((df["updated_IIH"] == 1) & (df["updated_PAP"] == 0)).astype(int)

In [11]:
df.to_csv(RESULT_FILE_NAME)

In [12]:
RESULT_FILE_NAME

'/cs/labs/michall/roeizucker/IIH/PWAS/ukbb_dataset_reduced.csv'

In [3]:
df = pd.read_csv("/cs/labs/michall/roeizucker/IIH/GWAS_hadassa/results/updated_Both.csv")

In [4]:
df

,#CHROM,POS,ID,REF,ALT,PROVISIONAL_REF?,A1,OMITTED,A1_FREQ,FIRTH?,TEST,OBS_CT,OR,LOG(OR)_SE,Z_STAT,P,ERRCODE
0,1,752721,rs3131972,A,G,Y,A,G,0.158849,N,ADD,291312,0.825896,0.159980,-1.195690,0.231818,.
1,1,801536,rs79373928,T,G,Y,G,T,0.015075,N,ADD,291312,0.957186,0.451423,-0.096932,0.922781,.
2,1,834830,rs116452738,G,A,Y,A,G,0.006785,N,ADD,291312,0.430096,1.000400,-0.843409,0.399000,.
3,1,835499,rs4422948,A,G,Y,G,A,0.239928,N,ADD,291312,1.047920,0.124457,0.376107,0.706837,.
4,1,838555,rs4970383,C,A,Y,A,C,0.245498,N,ADD,291312,0.954993,0.126441,-0.364208,0.715703,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467402,22,51177257,rs73174437,C,T,Y,T,C,0.037237,N,ADD,291312,0.769573,0.321397,-0.814940,0.415106,.
467403,22,51183255,rs5771002,A,G,Y,A,G,0.333907,N,ADD,291312,1.070230,0.112940,0.600937,0.547882,.
467404,22,51185848,rs3865764,G,A,Y,G,A,0.050623,N,ADD,291312,1.030220,0.241803,0.123128,0.902005,.
467405,22,51193629,rs142680588,A,G,Y,G,A,0.075920,N,ADD,291312,0.985054,0.204019,-0.073810,0.941161,.
467406,22,51217954,rs9616974,G,A,Y,A,G,0.072875,N,ADD,291312,0.944191,0.211908,-0.270998,0.786393,.