In [1]:
import pandas as pd
import os

In [2]:
PROJECT_PATH = "/sci/nosnap/michall/roeizucker/Hypothyroidism_hackaton"
SOURCE_DATASET_FILE = "ukbb_dataset.csv"
RESULT_FILE = "ukbb_dataset_filtered.csv"
PHENOTYPES = ["E03","E04","E05","E06","E07"]

In [40]:
phens_with_sex = []
for phen in PHENOTYPES:
    phens_with_sex.append(phen)
    phens_with_sex.append(phen + "_F" )
    phens_with_sex.append(phen+"_M")

In [4]:
dataset_file = os.path.join(PROJECT_PATH,SOURCE_DATASET_FILE)
phenotypes_dataset = pd.read_csv(dataset_file)

In [19]:
phenotypes_dataset["sum"] = 0
for phen in PHENOTYPES:
    phenotypes_dataset["sum"] = phenotypes_dataset["sum"] + phenotypes_dataset[phen]

In [41]:
for phen in phens_with_sex:
    phenotypes_dataset.loc[phenotypes_dataset[phen] & (phenotypes_dataset["sum"] == 1),phen+"_reduced"] = 1
    phenotypes_dataset.loc[(phenotypes_dataset[phen] == False) & (phenotypes_dataset["sum"] == 0),phen+"_reduced"] = 0

In [44]:
phenotypes_daztaset.to_csv(os.path.join(PROJECT_PATH,RESULT_FILE))

In [43]:
print("[",end="")
for phen in phens_with_sex:
    print(f'"{phen}_reduced",',end="")
print("]")

["E03_reduced","E03_F_reduced","E03_M_reduced","E04_reduced","E04_F_reduced","E04_M_reduced","E05_reduced","E05_F_reduced","E05_M_reduced","E06_reduced","E06_F_reduced","E06_M_reduced","E07_reduced","E07_F_reduced","E07_M_reduced",]

In [42]:
phenotypes_dataset

,sample_index,eid,E01,E02,E03,E04,E05,E06,E07,E01_F,...,E03_F_reduced,E03_M_reduced,E04_F_reduced,E04_M_reduced,E05_F_reduced,E05_M_reduced,E06_F_reduced,E06_M_reduced,E07_F_reduced,E07_M_reduced
0,0,5895328,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,1,5764375,False,False,False,False,False,False,False,False,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,2,5503073,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,3,2563626,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,4,4980832,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333627,502513,2243883,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
333628,502515,3570729,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
333629,502516,1663456,False,False,False,False,False,False,False,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
333630,502517,3118989,False,False,False,False,False,False,False,False,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
333631,502519,4573284,False,False,False,False,False,False,False,False,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN