In [1]:
import pandas as pd

In [56]:
FILE_PATH = "/cs/labs/michall/roeizucker/10krun/runs/48:59/ukbb_dataset.csv"
RESULT_FILE_PATH = "/cs/labs/michall/roeizucker/non_caucasian_run_2/caucasian_reduced_dataset.csv"
PHENOTYPE_TO_KEEP = "I10"
NEW_PHEN_NAME = "I10_NEW"
KEEP_OVERALL = -1
KEEP_SEP = True
KEEP_POS = 591
KEEP_NEG = 5019

In [25]:
df = pd.read_csv(FILE_PATH)

In [59]:
df[NEW_PHEN_NAME] = None

if KEEP_SEP:
    temp = df[df[PHENOTYPE_TO_KEEP] == 1]
    temp = temp.sample(KEEP_POS)
    temp[NEW_PHEN_NAME] = 1
    df.update(temp)
    
    temp = df[df[PHENOTYPE_TO_KEEP] == 0]
    temp = temp.sample(KEEP_NEG)
    temp[NEW_PHEN_NAME] = 0
    df.update(temp)
else:
    temp = df.sample(KEEP_OVERALL)
    temp.loc[temp[PHENOTYPE_TO_KEEP] == 1,NEW_PHEN_NAME] = 1
    temp.loc[temp[PHENOTYPE_TO_KEEP] == 0,NEW_PHEN_NAME] = 0
    df.update(temp)
df["sample_index"] = df["sample_index"].astype(int)
df["eid"] = df["eid"].astype(int)
df.to_csv(RESULT_FILE_PATH)

In [60]:
df

,sample_index,eid,F329,F329_F,F329_M,H26,H26_F,H26_M,H269,H269_F,...,batch_UKBiLEVEAX_b3,batch_UKBiLEVEAX_b4,batch_UKBiLEVEAX_b5,batch_UKBiLEVEAX_b6,batch_UKBiLEVEAX_b7,batch_UKBiLEVEAX_b8,batch_UKBiLEVEAX_b9,BOB,I1O_NEW,I10_NEW
0,0,5895328,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
1,1,5764375,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
2,2,5503073,0.0,NaN,0.0,1.0,NaN,1.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
3,3,2563626,0.0,NaN,0.0,1.0,NaN,1.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
4,4,4980832,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333410,502513,2243883,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
333411,502515,3570729,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
333412,502516,1663456,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None
333413,502517,3118989,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1,None
333414,502519,4573284,0.0,0.0,NaN,1.0,1.0,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,None,None